#root {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

.app {
  display: flex;
  background: #333;
  width: 100vw;
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 16rem;
  padding: 2rem;

  & > * {
    width: 100%;
  }
}
.tierlist-scroll {
  overflow-x: auto;
  flex-grow: 1;
  overscroll-behavior: none;
}
.tierlist-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: #111 solid 0.25rem;
  border-left: none;
  background: #111;
  flex-grow: 1;
  align-items: stretch;
  user-select: none;
  width: fit-content;
  min-width: calc(100% - 0.25rem);
}

.tier {
  background: #222;
  display: flex;
}

.tier-header {
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0rem;
  border-left: #111 solid 0.25rem;
  border-right: #111 solid 0.25rem;
  z-index: 1;
}

.tier-items {
  display: flex;
  gap: 0.5rem;
}

.tier-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 6rem;
  height: 6rem;
  color: white;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-item {
  display: none;
  color: red;
  background: #444;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  border-radius: 6767px;
  border: none;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.tier-item:hover .delete-item {
  display: block;
}

textarea {
  resize: vertical;
}
